**/.env
**/.venv
**/__pycache__/
**/*.pyc
**/*.pyo
**/*.pyd
**/.mypy_cache/
**/.pytest_cache/
**/.tox/
**/.coverage
**/htmlcov/
**/dist/
**/build/
**/eggs/
**/parts/
**/bin/
**/var/
**/sdist/
**/develop-eggs/
**/.eggs/
**/binance_bot.egg-info/